/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body{
  background-color: #D4A76A;
  margin: 0;
  padding: 0;
}
.primary-header {
  justify-content: space-around;
  display: flex;
  background-color: #FFDBAA;
  border: 1px solid black;
}
h6{
  /* margin-right: 20em; */
  margin: 2.4em 5em 0em 0em;
  color: #553100;
  font-size: 2.5em ;
}
.button_1{
  margin: 5em 1.5em;
  color: white;
  background-color: #805215;
  font-size: 1em;
  width: 8vw;
  height: 6vh;
  cursor: pointer;
}
.wrapper{
  justify-content: space-around;
  display: flex;
  text-align: center;
}
.outer{
  margin-top: 4em;
  border: 1px solid black;
  background-color: white;
  width: 25vw;
}
h3{
  font-size: 1.5em;
}
p{
  font-size: 1.3em;
}
.other_button{
  justify-content: space-around;
  margin-bottom: 1em;
  width: 90%;
  height: 7vh;
  color: white;
  background-color: #805215;
  font-size: 1.5em;
  cursor: pointer;
}
.wrapper_other{
 margin-top: 4em;
 justify-content: space-around;
 display: flex;
}
.outer_other{
  border: 1px solid black;
  background-color: white;
  width: 95vw;
  font-size: 18px;
  text-align: center;
}
.button_3{
  margin: 1em;
  color: white;
  background-color: #805215;
  width: 90%;
  height: 7vh;
  font-size: 1.5em;
  cursor: pointer;
}
